

header {
  background-color: #ffc017;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
header p {
  margin-top: 0.5em;
}  
  

header button {
  color: white;
  background-color: black;
  border-radius: 35px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  padding: 0.8em;
  
}
#msection {
  width: 100%;
  display: flex;
  height: 30em;
}

#svgdiv {
  width: 32em;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 3rem  
}
nav {
  width: 100%;
  border: solid 0.5px black;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
 position: fixed;
 background-color: #ffc017;
}

#sidem p {
  font-size: larger;
  font-weight: 400;
  
}

.navbar-scrolled {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.scrolled {
  background-color: rgb(5, 202, 5);
  color: white;
  transition: background-color 0.3s ease;
}

nav img {
  margin-left: 4em;
  flex-direction: row;
  
}

#navid {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: auto;
  margin-right: 4em;
}

#msection h1 {
  font-size: 10vh;
  font-style: italic;
}
#sidem {
flex-direction: column;
align-items: center;
margin-top: auto;
margin-bottom: auto;
margin-left: 14.4rem;
}
#sidem p { margin-top: 1em;}
#sidem button {
  margin-top: 2em;
  font-family: 'Roboto', sans-serif;
}

main {
  
  border: solid #b3b3b3 2px;
  padding-top: 1.2em;
  padding-left: 13rem;
  padding-right: 14em;
  padding-bottom: 3rem;
}

.article {
  font-weight: 700;
  
  justify-content: space-between;
  align-items: center;
}
#text-content {
  text-align: center;
  
}
.specialp{
  background-color: #e6e6e6;
  border-radius: 35px;
}

main h2 {
font-weight: 600;
display: flex;
align-items: center;
margin-left: 2.6em;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#cards-container {
  width: 100%;
  margin-left: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#cards-container h3 {
  position: absolute;
  top: 0.2rem;
  left: -2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #b3b3b3;
  margin-right: 3em;
  display: flex;
}
 
  

.card {
  padding: 1rem;
  padding-top: 1em;
}

.card img {
  width: 1.2em;
  border-radius: 50%;
}
  
  

footer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  padding-left: 7rem;
  padding-right: 7rem;
  justify-content: center;
}

footer p { font-weight: 300;}  

#articles1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

#articles1 .article {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 1rem 0;
}

footer h4 {
  font-weight: 600;
}

footer h4 img {
  border-radius: 50%;
  width: 1.2em;
}

footer p img {
  margin: 0;
  padding: 0;
}

.footimg {
  width: 13em;
  margin-left: 1rem;
  margin-top: 0.4em;
}

footer #articles1 .footimg {
  display: flex;
  flex-direction: row;
}

#ending {
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
 

#ending h2 {
  margin-bottom: 1rem;
}

#ending p {
  margin: 0.5rem 0;
  color: #b3b3b3;
  border: solid 1px #b3b3b3;
  padding: 0.3em;
  font-size: small;
}
#container {
  display: flex;
  width: 100%;
  margin-left: 15em;
  margin-top: 3em;
  
}

hr {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid #b3b3b3;
  width: 20em
}

#endingul {
  width: 50%;
  padding: 1.2rem;
  list-style: none;
  display: grid;
  color: #b3b3b3;
  grid-template-columns: repeat(3, 3fr);
  
}
#endingul ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 3fr)
}

#discover {
 width: 50%;
 justify-content: flex-end;
 margin-left: 7em;
}
 
 
hr {
justify-content: center;
}

#discover h2 {
  font-weight: 700;
}


  
  
  

  
 
  

 
  



